#title{
    text-align: center;
    margin:2% 2% 2% 2%;
}

.main-content {
    width: 100vw;
    height: 100vh;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

.flex{
    display:flex;
}


.navbar {
    justify-content: space-between;
    margin: 2vh 5vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 20px;
}

.button {
    font-size: medium;
    color:black;
    padding:2vh 5vh;
    border: 2px solid rgb(252, 178, 40);
    border-radius: 5px;
    transition-duration: 0.2s;
}

.button:hover {
    background-color: rgb(252, 178, 40);
    color: white;
    border: 2px solid rgb(252, 178, 40);
    border-radius: 5px;
  }

.flex-center {
    margin:3vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    row-gap: 10px;
    height:50vh;
}

.flex-left {
    margin:3vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:flex-start;
    row-gap: 10px;
    height:70vh;
}

ul{
    list-style: none;
}

.element {
    text-align: center;
    border: 3px solid rgb(27, 133, 255);
    background-color: rgb(183, 222, 255);
    border-radius: 25px;
    width:25vw;
}